<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Courier" version="3.0.0" targetFramework="net461" />
  <package id="FontAwesome.WPF" version="4.7.0.9" targetFramework="net47" />
  <package id="MahApps.Metro" version="1.5.0" targetFramework="net47" />
  <package id="ModernUI.WPF" version="1.0.9" targetFramework="net462" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net47" />
  <package id="Newtonsoft.Json.Schema" version="2.0.4" targetFramework="net462" />
  <package id="Nito.AsyncEx" version="3.0.1" targetFramework="net461" />
  <package id="picibits" version="0.1.69" targetFramework="net471" />
  <package id="picibits.wpf" version="0.1.69" targetFramework="net471" />
  <package id="Serilog" version="2.6.0" targetFramework="net47" />
  <package id="Serilog.Formatting.Compact" version="1.0.0" targetFramework="net47" />
  <package id="Serilog.Sinks.Console" version="3.1.1" targetFramework="net47" />
  <package id="Serilog.Sinks.File" version="4.0.0" targetFramework="net47" />
  <package id="Serilog.Sinks.PeriodicBatching" version="2.1.1" targetFramework="net47" />
  <package id="Serilog.Sinks.Seq" version="4.0.0" targetFramework="net47" />
  <package id="SimpleInjector" version="3.2.0" targetFramework="net462" />
  <package id="System.Linq" version="4.0.0" targetFramework="net462" />
  <package id="System.Reactive" version="3.0.0" targetFramework="net462" />
  <package id="System.Reactive.Core" version="3.0.0" targetFramework="net462" />
  <package id="System.Reactive.Interfaces" version="3.0.0" targetFramework="net462" />
  <package id="System.Reactive.Linq" version="3.0.0" targetFramework="net462" />
  <package id="System.Reactive.PlatformServices" version="3.0.0" targetFramework="net462" />
  <package id="System.Reactive.Windows.Threading" version="3.0.0" targetFramework="net462" />
  <package id="System.Reflection" version="4.0.0" targetFramework="net462" />
  <package id="System.Reflection.TypeExtensions" version="4.0.0" targetFramework="net462" />
  <package id="System.Runtime" version="4.0.0" targetFramework="net462" />
  <package id="UnifiedStorage" version="1.0.4" targetFramework="net45" />
  <package id="ZXing.Net" version="0.16.4" targetFramework="net471" />
</packages>