<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="picibird" value="http://nuget.picibits.com/api/v2/" />
  </packageSources>
  <activePackageSource>
    <add key="All" value="(Aggregate source)" />
  </activePackageSource>
  <disabledPackageSources />
</configuration>
